@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: black;
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 16px;
}
.header-links {
  display: flex;
  justify-content: end;
  padding: 0;
  gap: 15px;
  margin-bottom: 0px;
}
li {
  display: flex;
  justify-content: space-evenly;
}
.header-logo {
  margin-top: 15px;
  color: #ced4da;
  font-size: 24px;
}
.header-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 300px;
  width: 400px;
  margin: 100px 0px;
}
.header-info .main-text {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
.main-text,
.secondary-text {
  color: #ced4da;
}
.main-text {
  font-size: 48px;
}
.secondary-text {
  font-size: 18px;
}
.header-img {
  height: 450px;
  width: auto;
}
.info-img {
  height: 200px;
  width: auto;
}
q {
  font-style: italic;
}
.header-links a {
  text-decoration: none;
  color: #adb5bd;
  transition: color 0.3s ease, transform 0.3s ease; /* Only transitions color and scale */
}
.header-links a:hover {
  color: #e9ecef;
  transform: scale(1.05);
}

button {
  background-color: black;
  color: #fcefb4;
  padding: 12px 24px;
  border: 2px solid #32004f;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
button:hover {
  background-color: #11001c; /* Dark orchid on hover */
  color: #fff; /* White text for contrast */
  transform: translateY(-2px); /* Lift effect */
}

.info-container {
  text-align: center;
  flex: 1;
}
.info-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.info-img {
  width: 300px;
  height: auto;
}
p,
q {
  color: #ced4da;
}
q {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.card .main-text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.card .secondary-text {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.signup {
  align-self: flex-end;
  padding: 10px 20px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: #e9ecef;
  flex: 1;
  position: relative;
}
.footer-line {
  border: none;
  border-top: 1px solid grey;
  margin: 0;
}
